/*General*/
	/*Buttons*/
	.button{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border-radius: 3px; border: 1px solid #ddd; box-shadow: 0 1px 1px #fff; color: #666; cursor: pointer; font: normal bold 13px/13px "Trebuchet MS",Arial,sans-serif; padding: 6px 10px; outline: none; text-shadow: 0 1px 1px #fff; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
	.button:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff; color: #333;}
	.button:active{border: 1px solid #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
	
	.button_publish{background-color: #ddd; background: -webkit-linear-gradient(#ddd, #c0c0c0) #ddd; background: -moz-linear-gradient(90deg, #c0c0c0 0%, #ddd 100%) #ddd; background: -o-linear-gradient(#ddd, #c0c0c0) #ddd; float: right;}
	
	.a_button{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border-radius: 3px; border: 1px solid #ddd; color: #666; cursor: pointer; font: normal bold 13px/13px "Trebuchet MS",Arial,sans-serif; padding: 6px 10px; outline: none; text-decoration: none; text-shadow: 0 1px 1px #fff; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
	.a_button:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff; color: #333;}
	.a_button:active{border: 1px solid #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
	
	.view_all{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border: 1px solid #ddd; border-radius: 3px; color: #666; font: normal normal normal 13px/13px "Trebuchet MS",Arial,sans-serif; padding: 2px 6px; outline: none; text-decoration: none; text-shadow: 0 1px 1px #fff; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
	.view_all:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff; color: #333;}
	.view_all:active{border: 1px solid #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
	
	.text_right{margin: 10px 9px 5px 0px; text-align: right;}
		.text_right a{color: #000 !important;}

a{color: #1C6280; text-decoration:none;}
.a_selected{color: #000;}
.bold{font-weight: bold;}
form select{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; box-shadow: 0 1px 1px #fff; color: #666; cursor: pointer; font: normal bold 13px/13px "Trebuchet MS",Arial,sans-serif; margin-right: 3px; outline: none; padding: 5px 10px; text-shadow: 0 1px 1px #fff; -webkit-appearance: none; -moz-appearance: none; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
form select:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff; color: #333;}
form select:active{border: 1px solid #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
	form select option{text-shadow: none;}
h2{font: italic normal normal 24px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;}
h3{font: italic normal normal 20px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;}
ul{list-style-type:none; list-style-image:none;}
select{border: 1px solid #ddd; border-radius: 3px; height: 27px; font-size: 12px; width: 160px;}
.green{color: green !important;}
	.green a{color: green !important;}
.orange{color: orange !important;}
	.orange a{color: orange !important;}
.red{color: red !important;}
	.red a{color: red !important;}
.message{border-radius: 3px; font-size: 12px; margin: -10px 0 15px 0; padding: 10px 12px;}
	.message a{text-decoration: underline;}
	.well{background-color: lightYellow; border: 1px solid #e6db55;}
	.error{background-color: #ffe0e0; border: 1px solid #e65555;}
.base_txta{background: none; border: 1px solid lightGrey; border-radius: 3px; font-size: 14px; outline: none; padding: 2px 4px; -webkit-transition: all .1s linear; -moz-transition: all .1s linear; -o-transition: all .1s ease-in-out;}
.base_txta:focus{background-color: white; border-color: #4d90fe; box-shadow: inset 0 1px 1px lightGrey;}
.input{background: none; border: 1px solid lightGrey; border-radius: 3px; font-size: 12px; outline: none; padding: 2px 4px; -webkit-transition: all .1s linear; -moz-transition: all .1s linear; -o-transition: all .1s ease-in-out;}
.input:focus{background-color: white; border-color: #4d90fe; box-shadow: inset 0 1px 1px lightGrey;}
label{cursor: pointer;}
	
	
/*Content*/
body {background-color: #f7f6f1; background-attachment: fixed; height:100%; padding:0; margin: 0; margin-bottom: -20px; font-family: "Trebuchet MS",Arial,sans-serif;}
	
	header{background-color: #4f4f4f; background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; background: -o-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; box-shadow: 0px 2px 1px lightGrey; color: white; min-width: 1024px; height: 25px; padding: 5px 0px 0px 10px; position: fixed; top: 0px; width: 100%;}
		#nav{margin: 0; padding: 0;}
			#nav li{float: left; margin: 0 5px 0 0; position: relative;}
				header a{color: #fff; padding: 6px 4px;}
				header a:hover{background-color: #39f; background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f; background: -o-linear-gradient(#72b8ff, #39f) #39f;}
				header a:active{box-shadow: inset 0 1px 2px black;}
			#nav li:hover > ul{visibility: visible; opacity: 1;}
			#mplg{min-width: 120px; width: auto !important;}
				#mplg > li > a{width: auto !important;}
			#nav > li > ul{margin: 25px 0 0 0;}
			#nav > li:hover > ul{margin: 14px 0 0 0;}
			#nav ul{background-color: #4f4f4f; background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; background: -o-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; border-radius: 4px; box-shadow: 0 1px 1px rgba(45, 45, 45, 0.5); display: block; padding: 0; opacity: 0; position: absolute; visibility: hidden; width: 120px; z-index: 1; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
				#nav ul li{float: none; margin: 0; padding: 0;}
				#nav ul li:last-child{border-radius: 0 0 4px 4px;}
					#nav > li > ul > li:first-child > a:before{border-bottom: 8px solid #4f4f4f; border-left: 8px solid transparent; border-right: 8px solid transparent; content: ''; height: 0; left: 15px; position: absolute; top: -8px; width: 0;}
					#nav > li > ul > li:first-child > a:hover:before{border-bottom-color: #72b8ff;}
					#nav > li > ul > li:first-child > a:after{border-bottom: 8px solid transparent; border-left: 60px solid transparent; border-right: 60px solid transparent; content: ''; height: 0; left: 0; position: absolute; top: -8px; width: 0;}
					#nav ul li a{display: block; width: 112px;}
					#nav ul li:first-child > a{border-radius: 4px 4px 0 0;}
					#nav ul li:last-child > a{border-radius: 0 0 4px 4px;}
					#nav ul li:hover > ul{margin: -31px 0 0 128px;}
					#nav ul ul{border-radius: 4px; margin: -31px 0 0 148px;}
						#nav ul ul > li:first-child{border-radius: 4px 4px 0 0;}
							#nav ul ul > li:first-child > a:before{border-bottom: 8px solid #4f4f4f; border-left: 8px solid transparent; border-right: 8px solid transparent; content: ''; height: 0; left: -12px; position: absolute; top: 12px; -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -webkit-transform: rotate(270deg); width: 0;}
							#nav ul ul > li:first-child > a:hover:before{border-bottom-color: #72b8ff;}
							#nav ul ul > li:first-child > a{border-radius: 4px 4px 0 0;}
							#nav ul ul > li:first-child > a:after{border-bottom: 8px solid transparent; border-left: 16px solid transparent; border-right: 16px solid transparent; content: ''; height: 0; left: -20px; position: absolute; top: 12px; -moz-transform: rotate(270deg); -webkit-transform: rotate(270deg); width: 0;}
						#nav ul ul > li:only-child{border-radius: 4px;}
							#nav ul ul > li:only-child > a{border-radius: 4px;}
			#right{float: right !important; margin-right: 20px !important;}
	
	#login{height: auto; left: 50%; margin-left: -150px; margin-top: -150px; position: absolute; top: 50%; width: 300px;}
		#login h2{text-align: center; margin: 12px -5px 0px -5px; text-shadow: #fff 0px 1px 0px;}
		#login > div.message{margin: 10px 0 0 0;}
		#login > .input{height: 28px; width: 290px;}
		#login > .input:focus{box-shadow: inset 0 1px 1px #4f4f4f;}
		.submit_login{background-color: #4f4f4f; background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; background: -o-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; border-radius: 3px; border-style: none; color: white; cursor: pointer; font-size: 13px; height: 28px; line-height: 1; text-decoration: none; width: 300px; -webkit-transition: background .1s ease-in-out; -o-transition: all .1s ease-in-out;}
		.submit_login:hover{background-color: #39f; background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f; background: -o-linear-gradient(#72b8ff, #39f) #39f;}
		.submit_login:active{box-shadow: inset 0 1px 2px black;}
	
	#menu{color: white; font-size: 16px; height: 29px; margin: 30px 0px 15px 0px; text-align: center; width: 100%; }
		#menu a{color: white;}
		.menu_item a{background-color: #4f4f4f; background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; background: -o-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; border-radius: 3px; box-shadow: 0 1px 1px #fff; margin-right: 10px; padding: 6px 8px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
		.menu_item:hover a{background-color: #39f; background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f; background: -o-linear-gradient(#72b8ff, #39f) #39f; box-shadow: inset 0 0 3px #fff;}
		.menu_item:active a{box-shadow: inset 0 1px 2px #333;}
		#menu_selected a{background-color: #39f; background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f; background: -o-linear-gradient(#72b8ff, #39f) #39f;}
	
	/*Timeline Settings*/
	.tm_form{height: 20px; margin: 0 15px 0 0; width: 200px;}
	.tm_label{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border: 1px solid #ddd; border-radius: 3px; box-shadow: 0px 1px 1px #fff; display: inline-block; height: 40px; margin: 0 15px 12px 0; width: auto; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
	.tm_label:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff;}
		.tm_label > .delete{border-right: 1px solid #ddd; height: 40px; width: 20px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
		.tm_label:hover > .delete{border-color: #999; box-shadow: inset 0 0 3px #fff;}
		.tm_label:hover > .delete:active{box-shadow: inset 0 1px 2px #aaa;}
			.tm_label > .delete > a{color: #999; display: block; padding: 10px 6px; text-shadow: 0 1px 1px #fff; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
			.tm_label > .delete:hover > a{color: #333;}
		.tm_label > .content_label{height: 30px; margin: -40px 0 0 27px;}
	
	/*Timeline*/
	#periods{float: right; margin: 0 0 0 15px; width: 250px;}
		#periods > ul{margin: 49px 0 0 0; padding: 0;}
			#periods > ul > li{margin: 0 10px;}
			#periods > ul > li + li{margin: 10px 10px 0;}
				#periods > ul > li > a{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border-radius: 3px; border: 1px solid #ddd; color: #666; cursor: pointer; display: block; font: normal bold 13px/13px "Trebuchet MS",Arial,sans-serif; padding: 6px 10px; outline: none; overflow: hidden; text-decoration: none; text-shadow: 0 1px 1px #fff; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
				#periods > ul > li:hover > a{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff; color: #333;}
				#periods > ul > li:active > a{border: 1px solid #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
				
	#websites{height: 500px; margin: 0 15px 0 0; overflow: auto; width: 250px;}
		#websites > ul{margin: 49px 0 0 0; padding: 0;}
			#websites > ul > li{margin: 0 10px;}
			#websites > ul > li + li{margin: 10px 10px 0;}
				#websites > ul > li > a{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border-radius: 3px; border: 1px solid #ddd; color: #666; cursor: pointer; display: block; font: normal bold 13px/13px "Trebuchet MS",Arial,sans-serif; padding: 6px 10px; outline: none; overflow: hidden; text-decoration: none; text-shadow: 0 1px 1px #fff; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
				#websites > ul > li:hover > a{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff; color: #333;}
				#websites > ul > li:active > a{border: 1px solid #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
	
	#timeline{margin: -520px 265px 0 265px;}
		#timeline > h3{text-align: center;}
		#timeline > ul{margin: 0; padding: 0;}
			#timeline > ul > li + li{margin: 10px 0 0 0;}
			#timeline > ul > li{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border-radius: 3px; border: 1px solid #ddd; color: #666; font: normal bold 13px/13px "Trebuchet MS",Arial,sans-serif; padding: 6px 10px; text-shadow: 0 1px 1px #fff; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
			#timeline > ul > li:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff; color: #333;}
				#timeline > ul > li .title{font-size: 15px; height: 23px; line-height: 22px; margin: 0 200px 0 0; overflow: hidden;}
				#timeline > ul > li .infos{float: right; height: 36px; margin: -30px -11px 0 0;}
					#timeline > ul > li > .infos > .pubdate{color: #aaa; margin: 0 53px 0 0; padding: 12px; width: 130px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
					#timeline > ul > li > .infos > .pubdate:hover{color: #666;}
					#timeline > ul > li > .infos > .view{border-left: 1px solid #ddd; border-radius: 0 3px 3px 0; height: 34px; margin: -36px 0 0 153px; padding: 0 1px 1px 0; width: 52px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
					#timeline > ul > li > .infos > .view:hover{border-color: #999;}
						#timeline > ul > li > .infos > .view > a{color: #666; display: block; padding: 10px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
						#timeline > ul > li > .infos > .view:hover > a{box-shadow: inset 0 0 3px #fff; color: #333;}
						#timeline > ul > li > .infos > .view:active > a{border-color: #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
	
	/*External Post*/
	#tm_post{margin: 30px 350px 0 0;}
		#tm_post > h2{text-align: center;}
		#tm_post > details{background-color: #333; border-radius: 4px; color: #fff; font-size: 13px; margin: 10px auto; padding: 3px 5px; width: 400px;}
			#tm_post > details span{color: #3da7d4;}
		#tm_post > article{padding: 10px; font-size: 14px; margin: 40px 0; overflow: hidden; text-align: justify;}
		#tm_post > #ext_link{margin: 0 0 0 10px;}
	#tm_comments{float: right; margin: 15px 0 0 0; width: 320px;}
		#tm_comments > h3{text-align: center;}
			#tm_comments #form > textarea{font-size: 13px; height: 50px; width: 310px;}
			#tm_comments #form > input{margin: 5px 0 10px 0; width: 320px;}
		#tm_comments > ul{font-size: 13px; max-height: 800px; overflow: auto; padding: 0;}
			#tm_comments > ul > li{min-height: 50px;}
			#tm_comments > ul > li + li{margin: 10px 0 0 0;}
				#tm_comments > ul > li > details{background-color: #333; border-radius: 4px; color: #fff; font-size: 13px; margin: 0 0 5px 0; padding: 3px 5px;}
				#tm_comments .com_content{margin: 0; padding: 3px 5px 3px 18px;}
	
	/*Dashboard*/
	#wrapper{margin: 60px 16px 50px 16px; min-width: 1145px;}
			.widget_wrapper{float: left; min-width: 300px; width: 49%;}
			.widget_wrapper_left{margin-right: 20px;}
				.widget_wrapper a {color: #1C6280;}
				.widget{border: 1px solid #999; border-radius: 3px; margin-bottom: 20px; padding: 5px;}
					.widget_title{background-color: #4f4f4f; background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; background: -o-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; border-bottom: 1px solid #999; border-radius: 3px 3px 0 0; margin: -5px -5px 0px -5px; color: #fff; padding: 5px;}
					#activity_content{font-size: 12px; padding: 5px;}
					#comments_list{font-size: 12px;}
						.comments_item{border-top: 1px solid gray; margin: 0px -5px 0px -5px; padding: 0px 5px 0px 5px;}
						.comments_item:first-child{border: none;}
							.comments_item h4{font-weight: normal; margin-top: 3px;}
								.comments_user{color: #999;}
							.comments_item p{margin-top: -10px;}
						#quick_press h5{display: block; margin-top: 12px; margin-bottom: -17px; width: 40px;}
						.input_text{margin: 0px 5px 0px 60px; width: 89%;}
						#qp_categories{margin: 0px 0px 0px 70px;}
						#submit{margin: 6px 8px 0px 59px;}
						#drafts_list{margin: 5px 0px 0px 5px; font-size: 12px;}
							#drafts_list ul{margin: -10px 0px 0px -42px;}
									#drafts_list p{margin: -10px 0px 0px 0px;}
								#no_draft{margin: 15px 0 0 0;}
	
	/*Posts*/
	#search{float: right;}
		#search_input{margin: 0px 5px 0px 60px; padding: 5px 3px; width: 130px; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out;}
		#search_input:focus{width: 200px;}
	#table{border-collapse: collapse; border-radius: 4px; font-size: 13px; margin: 10px 0; width: 100%;}
			#table thead th{background-color: #4f4f4f; background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; background: -o-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; color: white; text-align: left;}
			#table thead th:first-child{border-radius: 4px 0 0 0;}
			#table thead th:last-child{border-radius: 0 4px 0 0;}
			#table tfoot th{background-color: #4f4f4f; background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; background: -o-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; color: white; text-align: left;}
			#table tfoot th:first-child{border-radius: 0 0 0 4px;}
			#table tfoot th:last-child{border-radius: 0 0 4px 0;}
			#table tbody tr{border-left: 1px solid lightGrey; border-right: 1px solid lightGrey;}
			#table tbody tr:hover{background:#fff;}
				#table th{border-bottom: 1px solid lightGrey; padding: 7px 7px 8px 7px;}
				.column_checkbox{text-align: left; width: 20px;}
				#table td{border-bottom: 1px solid lightGrey; padding: 7px 7px 8px 7px;}
					#table tr .row_actions{visibility: hidden;}
					#table tr:hover .row_actions{visibility: visible;}
	#pagination{float: right; margin: 6px 0 20px 0;}
		#pagination > a + a{margin: 0 0 0 20px;}
	#post_actions{margin: 25px 25px 15px 0;}
	#post_info{width: 100%;}
			#new_title{font-size: 1.7em; width: 99%;}
			#editor_container textarea{width: 99%;}
				#post_tags{font-size: 14px; margin-left: 6px; width: 400px;}
	#fd_pics{height: 250px; margin: 10px 0; width: 49%;}
		#fd_pics fieldset{border: 1px solid lightGrey; border-radius: 3px; height: 230px; overflow: auto;}
			.np_pic input{background: none; border: 1px solid lightGrey; border-radius: 4px; font-size: 12px; margin: 3px 5px; outline: none; padding: 2px 3px; width: 300px;}
	#fd_vids{float: right; height: 250px; margin: -260px 1.5% 10px 0; width: 49%;}
		#fd_vids fieldset{border: 1px solid lightGrey; border-radius: 3px; height: 230px; overflow: auto;}
			.np_vid input{background: none; border: 1px solid lightGrey; border-radius: 4px; font-size: 12px; margin: 3px 5px; outline: none; padding: 2px 3px; width: 300px;}
	
	/*Comments*/
	.column_author{min-width: 150px;}
	.column_response{min-width: 100px;}
	#comment_reply{margin: auto; width: 692px;}
		#comment_content{padding: 4px 5px; width: 680px;}
	#comment_edit{margin: auto;	width: 692px;}
		#comment_edit_author{border: 1px solid lightGrey; border-radius: 3px; padding: 5px; width: 680px;}
			#comment_edit_author a{font-size: 0.7em;}
			.comment_edit_content{padding: 10px;}
				.input_soft{font-size: 14px; margin-left: 5px; width: 430px;}
				#comment_edit_name{margin-bottom: 10px; margin-left: 89px;}
				#comment_edit_email{margin-left: 15px;}
		#comment_edit_meta{border: 1px solid lightGrey; margin: 15px 0 0 0; padding: 4px 5px; width: 680px;}
			#comment_edit_content{font-size: 0.75em;}
			#comment_edit_footer{border-top: 1px solid lightGrey; padding: 12px 6px;}
				#comment_edit_footer a{border-bottom: 1px solid red; color: red; font-size: 0.75em; padding: 2px 2px 0px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
				#comment_edit_footer a:hover{background-color: red; color: #fff;}
				#status{padding: 8px 5px;}
				#comment_date{border-top: 1px solid lightGrey; padding: 8px 5px;}
	
	/*Users*/
	#labels{margin: 10px 0 0 0; min-height: 50px; width: 100%; }
		.user_label{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border: 1px solid #ddd; border-radius: 3px; box-shadow: 0px 1px 1px #fff; display: inline-block; height: 100px; margin: 0 15px 12px 0; width: auto; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
		.user_label:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff;}
			.check_label{border-radius: 3px 0 0 3px; border-right: 1px solid #ddd; height: 94px; padding: 3px; width: 20px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
			.check_label:hover{border-color: #999; box-shadow: inset 0 0 3px #fff;}
			.check_label:active{box-shadow: inset 0 1px 2px #aaa;}
				.check_label input{margin: 41px 0 0 3px;}
			.content_label{display: block; font-size: 13px; height: 88px; margin: -101px 0 0 27px; padding: 5px 10px 5px 5px; }
				.user_avatar{height: 75px; width: 85px;}
					.user_avatar img{border-radius: 3px; margin-top: 9px; max-height: 75px; max-width: 85px;}
				.user_info_side{margin: -69px 0 0 90px;}
					.luname{margin-left: 20px;}
					.lpname{margin-left: 5px;}
					.lrole{margin-left: 50px;}
	
	/*New User*/
	.form_table th{font-weight: normal; padding: 10px; text-align: left; text-shadow: white 0 1px 0; vertical-align: top; width: 300px;}
	.form_table td{font-size: 11px; font-weight: normal; line-height: 20px; padding: 8px 10px;}
		.indication{color: #666; font-size: 12px; font-style: italic;}
			.indication a{text-decoration: underline;}
		.user_input_text{font-size: 14px; line-height: 17px; width: 400px;}
	.submit{float: none; margin: 10px 0 20px 0;}
	
	/*Profile*/
	#avatars{height: 230px; overflow: auto; width: 400px;}
		.avatar{margin: 0 auto; padding: 5px; width: 150px;}
			.avatar figcaption{margin: auto; width: 16px;}
	#bio{width: 500px;}
	.new_pwd{width: 125px;}
	
	/*New Link*/
	#notes{width: 400px;}
	
	/*Links*/
	.column_name{min-width: 200px;}
	.column_link{min-width: 200px;}
	.column_rss{min-width: 200px;}
	.column_priority{min-width: 100px;}
	
	/*New Media*/
	#new_media{padding: 10px}
		#upload{float: none;}
		#media_name{font-size: 1.7em; width: 99%;}
		#media_desc{width: 99%;}
		#cats{border: 1px solid lightGrey; border-radius: 4px; margin: 3px 0 15px 0; width: 98%;}
			.acat{margin-right: 10px;}
		#cover_line{margin-left: 50px;}
	
	/*Media*/
	.column_links{width: 450px;}
	.column_file{min-width: 160px;}
		table .file_thumb{margin: -18px 3px 0px 25px; max-height: 80px; max-width: 80px;}
		table textarea{width: 400px;}
	
	
	/*Edit Media*/
	#edit_media{margin-top: 50px;}
		#edit_media img{display: block; margin-left: auto; margin-right: auto; max-height: 500px; max-width: 500px;}
		#edit_media video{display: block; margin-left: auto; margin-right: auto;}
		#flip{display: block; margin-left: auto; margin-right: auto;}
		#rotate{display: block; margin-left: auto; margin-right: auto;}
		#attach{min-width: 200px; width: auto;}
		#embed{text-align: center;}
	
	/*Albums*/
	.album_label{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border: 1px solid #ddd; border-radius: 3px; box-shadow: 0px 1px 1px #fff; display: inline-block; height: 100px; margin: 0 15px 12px 0; width: auto; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
	.album_label:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff;}
		.content_label .row_actions{visibility: hidden;}
		.content_label:hover .row_actions{visibility: visible;}
		.label_cover{display: block; height: 75px; width: 83px;}
			.label_cover img{max-height: 75px !important; max-width: 83px !important;}
			.lname{margin-left: 39px;}
			.lstatus{margin-left: 37px;}
			.lauth{margin-left: 33px;}
			.ldate{margin-left: 23px;}
			.lcat{margin-left: 10px;}
	
	/*Edit Album*/
	#album_actions{margin: 25px 25px -35px 0;}
	#ea_cover{height: 200px; width: 200px;}
		#ea_cover img{max-height: 200px; max-width: 200px;}
	#ea_meta{font-size: 12px; height: 50px; line-height: 1.4; padding-left: 10px; width: 200px;}
	#ea_infos{margin: -250px 0 0 210px;}
	.pic_input_text{line-height: 17px; width: 114px;}
	
	/*Settings*/
	.setting_label{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border: 1px solid #ddd; border-radius: 3px; box-shadow: 0px 1px 1px #fff; display: inline-block; height: 30px; margin: 0 15px 12px 0; width: auto; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
	.setting_label:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff;}
	.setting_label:active{border: 1px solid #aaa; border-bottom-color: #ccc; border-top-color: #999; box-shadow: inset 0 1px 2px #aaa;}
		.setting_label a{color: #414141;}
		.label_img{border-right: 1px solid #ddd; height: 30px; width: 30px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
		.setting_label:hover .label_img{border-color: #999;}
			.label_img input{margin: 9px;}
		#label_categories{background-image: url(../images/settings_label.png); background-position: 30px 0px;}
		#label_users{background-image: url(../images/settings_label.png); background-position: 60px 0px;}
		#label_links{background-image: url(../images/settings_label.png); background-position: 150px 1px;}
		#label_social{background-image: url(../images/settings_label.png); background-position: 210px 0px;}
		#label_roles{background-image: url(../images/settings_label.png); background-position: 120px 0px;}
		#label_activity{background-image: url(../images/settings_label.png); background-position: 180px 0px;}
		#label_post{background-image: url(../images/settings_label.png); background-position: 240px 0px;}
		#label_default_page{background-image: url(../images/settings_label.png); background-position: 270px 0px;}
		#label_template{background-image: url(../images/settings_label.png); background-position: 300px 0px;}
		#label_update{background-image: url(../images/settings_label.png); background-position: 330px 0px;}
		.label_plugins{background-image: url(../images/settings_label.png); background-position: 0px 0px;}
		.label_name{margin: -30px 0 0 30px; padding: 6px;}
	
	/*Categories*/
	#cat_name{height: 20px; width: 200px;}
	
	/*User Roles*/
	#new_role{height: 20px; width: 200px;}
	.column_role_dashboard{width: 100px;}
	.column_role_post{width: 100px;}
	.column_role_media{width: 100px;}
	.column_role_album_photo{width: 100px;}
	.column_role_comments{width: 100px;}
	.column_role_delete_content{width: 100px;}
	.column_role_settings{width: 100px;}
	
	/*Templates*/
	.template_label{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border: 1px solid #ddd; border-radius: 3px; box-shadow: 0px 1px 1px #fff; display: inline-block; height: 60px; margin: 0 15px 12px 0; width: auto; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
	.template_label:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff;}
		.template_label .check_label{height: 54px;}
			.template_label .check_label input{margin-top: 21px;}
		.template_label .content_label{height: 48px; margin: -60px 0 0 27px; padding: 7px 10px 5px 10px;}
			.tplname{margin-left: 17px;}
			.tplauthor{margin-left: 10px;}
			.tplurl{margin-left: 28px;}
	#lib_tpl_act{height: 100px;}
		#lib_tpl_act > #search_input{margin: 0px 5px 0px 10px; width: 200px;}
	
	/*Plugins*/
	#lib_plg_act{height: 100px;}
		#lib_plg_act > #search_input{margin: 0px 5px 0px 10px; width: 200px;}
		.lib_plg_label{background-color: #f5f5f5; background: -webkit-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; background: -moz-linear-gradient(90deg, #e0e0e0, #f5f5f5) #f5f5f5; background: -o-linear-gradient(#f5f5f5, #e0e0e0) #f5f5f5; border: 1px solid #ddd; border-radius: 3px; box-shadow: 0px 1px 1px #fff; display: inline-block; height: 162px; margin: 0 15px 12px 0; width: auto; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}
		.lib_plg_label:hover{border-color: #999; box-shadow: 0 1px 2px lightGrey, inset 0 0 3px #fff;}
			.lib_plg_label > .content_label{display: block; font-size: 13px; height: 100%; margin: 0; padding: 5px 10px;}
				span.plgname{margin: 0 0 0 32px;}
				span.plgauthor{margin: 0 0 0 26px;}
				span.plgurl{margin: 0 0 0 48px;}
				.lib_plg_label > .content_label > p{border: 1px solid lightGrey; border-radius: 4px; height: 70px; margin: 6px 0; overflow: scroll; padding: 5px; width: 240px;}