body{background-color: #f7f6f1;font-family: "Trebuchet MS",Arial,sans-serif;  margin: 0; padding: 0;}

	header{background-color: #f7f6f1; margin: auto; width: 1000px;}
		header img{left: 50%; margin: 5px 0 5px -67px; position: relative;}
			header figcaption{font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; text-align: center;}
		header nav{background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; border: 1px solid #4f4f4f; border-radius: 4px; box-shadow: 2px 2px 1px lightGrey; padding: 10px 8px; width: 600px;}
			header nav a:first-child{border-radius: 4px 0 0 4px; margin-left: -8px;}
			header nav a{border-right: 1px solid #4f4f4f; color: #fff; font-size: 18px; margin-left: -5px; padding: 10px;}
			header nav a:hover{background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f;}
			header nav a:active{box-shadow: inset 0 0 2px black;}
		#search{background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; border: 1px solid #4f4f4f; border-radius: 4px; box-shadow: 2px 2px 1px lightGrey; margin: -43px 0 0 638px; padding: 6px 3px 6px 7px; width: 350px;}
			#search input{background-color: #717171; border: 1px solid #4f4f4f; border-radius: 4px; color: #fff; font-size: 14px; outline: none; padding: 3px 6px; width: 332px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
			#search input:focus{background-color: #fff; border-color: #ddd; box-shadow: inset 0 1px 1px lightGrey; color: #333;}
	
	
	#corps{margin: auto; width: 1000px;}
		#content{background-color: #fff; border: 1px solid lightGrey; border-radius: 4px; box-shadow: 2px 2px 1px lightGrey; float: left; margin: 30px 0; padding: 8px; width: 600px;}
		
			/*Posts*/
			.post{margin:0 -8px 50px -8px; padding: 0 0 20px 0;}
				.post h3{border-bottom: 1px solid lightGrey; box-shadow: 0px 3px 5px lightGrey; font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 15px 0; padding: 5px; text-align: center;}
				.post details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 0 5px; padding: 3px 5px;}
					.post details a{color: #3da7d4;}
				.post article{font-size: 14px; line-height: 1.3; margin: 15px 10px; text-align: justify;}
					.read_more{background-color: #333; border-radius: 4px; color: #fff; float: right; font-size: 14px; padding: 4px 6px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
					.read_more:hover{background-color: #3399ff;}
			#news_alone{margin: 0 -8px; padding: 0 0 20px 0;}
				#news_alone h3{border-bottom: 1px solid lightGrey; box-shadow: 0px 3px 5px lightGrey; font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 15px 0; padding: 5px; text-align: center;}
				#news_alone details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 0 5px; padding: 3px 5px;}
					#news_alone details a{color: #3da7d4;}
				#news_alone article{font-size: 14px; line-height: 1.3; margin: 15px 10px; text-align: justify;}
					#news_alone article h4{font-size: 15px; margin: 5px 0;}
					#news_alone article a{color: #0071bb; text-decoration: underline; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
					#news_alone article a:hover{color: #ed1e24; text-decoration: underline;}
					#news_alone article img.center{display: block; margin-left: auto; margin-right: auto;}
					#news_alone article .video{display: block; margin-left: auto; margin-right: auto;}
					#news_alone blockquote{margin: -2px 0px 0px 30px; width: 600px;}
				#tags{font-size: 12px; margin: 0 30px;}
					#tags a{color: #2991bd; -webkit-transition: color .1s ease-in-out; -moz-transition: color .1s ease-in-out;}
					#tags a:hover{color: #ed1e24;}
			
			/*Comment form*/
			#respond{font-size: 14px; margin: 10px 0 30px 0; padding: 5px;}
				#respond .input_text{background: none; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 10px; outline: none; padding: 7px; width: 500px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#respond .input_text:focus{border-color: #4d90fe; box-shadow: inset 0 1px 1px lightGrey;}
				#respond .wrong{background-color: #ffe0e0; border: 1px solid #e65555; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#respond .wrong:focus{border-color: #e65555;}
				#respond_name{margin-right: 25px;}
				#respond_email{margin-right: 25px;}
				#respond_content{background: none; border: 1px solid #ccc; border-radius: 4px; height: 100px; margin: 0 10px 10px 0; outline: none; padding: 7px; width: 575px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#respond_content:focus{border: 1px solid #4d90fe; box-shadow: inset 0 1px 1px lightGrey;}
				#respond_content_wrong{background: none; background-color: #ffe0e0; border: 1px solid #e65555; border-radius: 4px; height: 100px; margin: 0 10px 10px 0; outline: none; padding: 7px; width: 575px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#respond_content_wrong:focus{box-shadow: inset 0 1px 1px lightGrey;}
				#captcha{margin-right: 25px;}
				#respond_submit{background: -webkit-linear-gradient(#d5d5d5, #b6b6b6) #b6b6b6; background: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5) #b6b6b6; border-radius: 4px; border-style: none; box-shadow: 1px 1px 1px lightGrey; color: #fff; cursor: pointer; height: 28px; line-height: 1; margin: 3px 100px 0 100px; text-decoration: none; width: 400px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#respond_submit:hover{background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f;}
				#respond_submit:active{box-shadow: inset 0 1px 2px black;}
				#respond_well{background-color: lightYellow; border: 1px solid #e6db55; border-radius: 4px; font-size: 12px; padding: 5px 172px;}
				#respond_error{background-color: #ffe0e0; border: 1px solid #e65555; border-radius: 4px; font-size: 12px; padding: 5px 196px;}
				#closed_comment{background-color: lightYellow; border: 1px solid #e6db55; border-radius: 4px; font-size: 12px; padding: 5px 207px;}
			
			/*Comments*/
			.comments{font-size: 12px; margin: 0px 0px 10px 15px; min-height: 66px; text-decoration: none; width: 580px;}
				.gravatar{height: 50px; margin: 0 0 -50px 0; width: 50px;}
					.gravatar > img{border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; max-height: 50px; max-width: 50px;}
				.comment_info{background: -webkit-linear-gradient(#d5d5d5, #b6b6b6) #b6b6b6; background: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5) #b6b6b6; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; height: 14px; margin: 0 0 0 60px; padding: 5px;}
					.comment_info a{text-decoration: underline;}
				.comment_content{margin: 5px 0 0 80px; padding: 5px; width: 465px;}
			
			/*Albums*/
			#header_album{border-bottom: 1px solid lightGrey; box-shadow: 0px 3px 5px lightGrey; font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 15px -8px; padding: 5px; text-align: center;}
			#listing_albums{}
				.album{display: inline-block; height: 220px; margin: 15px 30px; padding: 4px 4px 6px 4px; text-align: center; width: 230px;}
					.album img{border-radius: 5px; max-height: 200px; max-width: 230px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
					.album img:hover{background: -webkit-linear-gradient(#5f5f5f, #6a6a6a) #6a6a6a; background: -moz-linear-gradient(90deg, #5f5f5f 0%, #6a6a6a 100%) #6a6a6a;}
					.album img:active{box-shadow: inset 0 1px 2px black;}
					.album figcaption{margin: 0;}
				#album_details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 9px 0 0 2px; padding: 3px 8px; width: 580px;}
					#album_details p{background: #333; padding: 0 13px;}
					#view_comments{background: -webkit-linear-gradient(#777, #555) #555; background: -moz-linear-gradient(90deg, #555, #777) #555; border-radius: 4px; margin: 0 0 0 460px; padding: 3px 9px;}
					#view_comments:hover{background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f;}
					#view_comments:active{box-shadow: inset 0 1px 2px black;}
						#view_comments a{color: #fff; text-shadow: 1px 1px 0px black;}
				#album{margin: 0 7px; min-height: 141px;}
					#album ul{margin: 30px 0 30px -40px;}
						#album ul li{border-radius: 4px; display: inline-block; padding: 10px 22px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
						#album ul li:hover{background: -webkit-linear-gradient(#777, #555) #555; background: -moz-linear-gradient(90deg, #555, #777) #555;}
						#album ul li:active{box-shadow: inset 0 1px 2px black;}
							#album ul li:hover img{box-shadow: 1px 1px 2px #333;}
				#go_back_album{background: -webkit-linear-gradient(#777, #555) #555; background: -moz-linear-gradient(90deg, #555, #777) #555; border-radius: 4px; font-size: 13px; margin: 0 0 0 5px; padding: 3px 9px;}
				#go_back_album:hover{background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f;}
				#go_back_album:active{box-shadow: inset 0 1px 2px black;}
					#go_back_album a{color: #fff; text-shadow: 1px 1px 0 black;}
			
			/*Videos*/
			#header_video{border-bottom: 1px solid lightGrey; box-shadow: 0px 3px 5px lightGrey; font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 15px -8px; padding: 5px; text-align: center;}
			#videos{min-height: 200px;}
				.video{margin: 0 0 30px 0;}
					.video video{display: block; margin: 0 auto;}
					.video details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 9px 0px 0px 5px; padding: 3px 8px; width: 574px;}
						.video details p{background: #333; padding: 0 13px;}
			
			/*Authors*/
			#header_author{border-bottom: 1px solid lightGrey; box-shadow: 0px 3px 5px lightGrey; font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 15px -8px; padding: 5px; text-align: center;}
			.author{margin: 0 10px 15px 10px;}
				.author h3{font: italic normal normal 20px/25px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; text-align: center; text-shadow: 0 1px 0 white;}
				.author_bio{font-size: 13px; height: 100px; padding: 3px; overflow: auto; text-align: justify;}
				.author_links{height: 48px;	margin: 10px auto; width: 175px;}
					.author_links a{display: block; height: 48px; margin-right: 10px; text-indent: -9999px; width: 48px;}
					.author_twitter{background: transparent url(../../../../images/twitter.png) no-repeat scroll 0px 0px;}
					.author_facebook{background: transparent url(../../../../images/facebook.png) no-repeat scroll 0px 0px; margin: -48px 0 0 58px;}
					.author_google{background: transparent url(../../../../images/google.png) no-repeat scroll 0px 0px; margin: -48px 0 0 116px;}
			
			/*Contact*/
			#header_contact{border-bottom: 1px solid lightGrey; box-shadow: 0px 3px 5px lightGrey; font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 15px -8px; padding: 5px; text-align: center;}
			#contact_form{margin: 0 auto 10px; min-height: 300px; width: 400px;}
				#receiver{border: 1px solid lightGrey; font-size: 12px; height: 26px; margin-bottom: 9px; width: 400px;}
				#contact_form .input{background: none; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 10px; outline: none; padding: 7px; width: 385px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#contact_form .input:focus{border-color: #4d90fe; box-shadow: inset 0 1px 1px lightGrey;}
				#contact_form textarea{height: 150px; outline: none; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#contact_form textarea:focus{border-color: #4d90fe; box-shadow: inset 0 1px 1px lightGrey;}
				#sc{background: -webkit-linear-gradient(#d5d5d5, #b6b6b6) #b6b6b6; background: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5) #b6b6b6; border-radius: 4px; border-style: none; box-shadow: 1px 1px 1px lightGrey; color: #fff; cursor: pointer; height: 28px; line-height: 1; margin-top: 3px; text-decoration: none; width: 400px; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;}
				#sc:hover{background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f;}
				#sc:active{box-shadow: inset 0 1px 2px black;}
				#c_error{background-color: #ffe0e0; border: 1px solid #e65555; border-radius: 4px; font-size: 12px; padding: 5px 118px;}
				#c_well{background-color: lightYellow; border: 1px solid #e6db55; border-radius: 4px; font-size: 12px; padding: 5px 120px;}
			
			/*Links*/
			.link{margin:0 -8px 30px -8px; padding: 0 0 20px 0;}
				.link h3{border-bottom: 1px solid lightGrey; box-shadow: 0px 3px 5px lightGrey; font: italic normal normal 29px/29px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 15px 0; padding: 5px; text-align: center;}
				.link details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 9px 5px 0 5px; padding: 3px 8px;}
					.link details p{background-color: #333;}
					.link details a{color: #3da7d4;}
				.description{font-size: 14px; height: 150px; margin: 15px 5px 0 5px; padding: 3px; overflow: auto; text-align: justify;}
			
			/*Naviqation*/
			#prev{background: -webkit-linear-gradient(#d5d5d5, #b6b6b6) #b6b6b6; background: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5) #b6b6b6; border-radius: 4px; float: left; font-size: 14px; height: 20px; margin: 0; padding: 7px 15px 2px 15px;}
			#prev:hover{background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f;}
			#prev:active{box-shadow: inset 0 1px 1px black;}
				#prev a{color: white; text-shadow: 1px 1px 0px black;}
			#next{background: -webkit-linear-gradient(#d5d5d5, #b6b6b6) #b6b6b6; background: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5) #b6b6b6; border-radius: 4px; float: right; font-size: 14px; height: 20px; margin: 0; padding: 7px 27px 2px 26px;}
			#next:hover{background: -webkit-linear-gradient(#72b8ff, #39f) #39f; background: -moz-linear-gradient(90deg, #39f, #72b8ff) #39f;}
			#next:active{box-shadow: inset 0 1px 1px black;}
				#next a{color: white; text-shadow: 1px 1px 0px black;}
		
		/*Error message*/
		#no_content{text-align: center;}
		.pb_img{height: 144px; padding: 0 236px;}
		
		/*404*/
		#msg404{background-color: #333; border-radius: 4px; margin: -7px;}
			#msg404 img{padding: 25px 179px;}
			#msg404 p{color: #fff; margin: auto; padding: 0 0 12px 0; width: 153px;}
		
		/*social bar*/
		#share_bar{margin: 15px auto 10px; width: 160px;}
			#plus-1{margin: -38px 0 0 115px;}
			#share_bar a{display: block; height: 48px; margin-right: 10px; text-indent: -9999px; width: 48px;}
			#sfacebook{background: transparent url(../../../../images/facebook.png) no-repeat scroll 0px 0px;}
			#stwitter{background: transparent url(../../../../images/twitter.png) no-repeat scroll 0px 0px; margin: -48px 0 0 58px;}
		
		/*Sidebar*/
		#corps > aside{background-color: #fff; border: 1px solid lightGrey; border-radius: 4px; box-shadow: 2px 2px 2px lightGrey; float: right; margin: 30px 0 15px 0; padding: 5px; width: 350px;}
			#corps > aside > h3{font: italic normal normal 22px/0px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; margin: 20px 0 20px 10px;}
			#corps > aside > ul{margin: 10px 0 10px 20px; padding: 0;}
				#corps > aside li{margin: 0 0 10px 0;}
		
		
		#clear{clear: both; display: block; float: none; font-size: 0px; height: 0px; line-height: 0px; margin: 0px; overflow: hidden; padding: 0px; width: 0px;}
	
	/*Footer*/
	footer{background: -webkit-linear-gradient(#4f4f4f, #2c2c2c) #4f4f4f; background: -moz-linear-gradient(90deg, #2c2c2c 0%, #4f4f4f 100%) #4f4f4f; border: 1px solid #4f4f4f; border-radius: 4px; box-shadow: 2px 2px 1px lightGrey; color: #fff; margin: 0 auto 20px auto; padding: 10px 0; text-align: center; width: 1000px;}
		footer a{color: #fff;}


/*General*/
div{display: block;}

a{color:#000; text-decoration:none;}
	a img{border:none;}
	
ul{list-style-image:none; list-style-type:none;}