body{background-color: #f7f6f1;font-family: "Trebuchet MS",Arial,sans-serif;  margin: 0; padding: 0;}

	header{background-color: #6a6a6a; background-image: -webkit-gradient(linear, left top, left bottom, from(#6a6a6a), to(#292929)); background-image: -moz-linear-gradient(90deg, #292929 0%, #6a6a6a 100%); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 1px 1px 1px lightGrey; height: 40px; margin: -16px auto 0 auto; width: 1000px;}
			header li:first-child{margin-right: 24px;}
			header li{float: left; position: relative;}
			.tmenu{font-size: 18px; padding: 9px 10px 10px 10px;}
			.tmenu:hover{background-color: #3399ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#72b8ff), to(#3399ff)); background-image: -moz-linear-gradient(90deg, #3399ff, #72b8ff);}
				header a{color: white;}
	
	#corps{margin: auto; width: 1000px;}
		#menu{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); border: 1px solid lightGrey; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; height: 25px; margin: 20px 0 20px 0;}
			#menu li:first-child{margin-left: -40px;}
			#menu li{float: left; position: relative;}
			.menut{padding: 3.5px 0 0 10px;}
			#search{background: white; border: medium none; border-bottom-left-radius: 4px; border-top-left-radius: 4px; display: block; height: 25px;}
				#search input{background: none; border: medium none; height: 18px; outline: none; padding: 3px 0 0 5px; width: 180px;}
		#content{background: white; border: 1px solid lightGrey; border-radius: 5px; box-shadow: 1px 1px 1px lightGrey; height: 100%; min-height: 175px; padding: 14px 14px 24px 14px;}
			/*listing post*/
			.post{margin-bottom: 100px; min-height: 63px;}
				.post h3{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0px 1px 8px lightGrey; font-size: 18px; height: 25px; margin: 0 -26px; padding: 3px 0 0 54px; position: relative; text-shadow: 1px 1px 0px #e2e2e2; z-index: 30;}
					.post h3 a{display: block;}
				.listing_icon{margin: -19px 0px -33px 0px; z-index: 20;}
				.post article{font-size: 14px; padding: 6px 0px 0px 50px; text-align: justify; width: 650px; z-index: 40;}
					.read_more{color: #1c6280; font-size: 0.75em;}
				.post aside{background-color: #cacaca; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: 1px 1px 1px lightGrey; float: right; font-size: 0.8em; height: 100%; margin: -40px -8px 0px 0px; min-height: 50px; opacity: 1; padding: 34px 0 0 5px; position: relative; width: 230px; z-index: 20;}
					.post aside a{color: #1c6280;}
			/*alone post*/
			#news_alone{min-height: 200px;}
				#news_alone h3{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0px 1px 8px lightGrey; font-size: 18px; height: 25px; margin: 0 -26px; padding: 3px 0 0 35px; position: relative; text-shadow: 1px 1px 0px #e2e2e2; z-index: 30;}
				#news_alone details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 9px 0px 0px 30px; padding: 3px 8px; width: 895px;}
					#news_alone details a{color: #3da7d4;}
				#news_alone article{font-size: 14px; margin: 15px 30px 10px; text-align: justify;}
					#news_alone article a{color: #0071bb; text-decoration: underline;}
					#news_alone article a:hover{color: #ed1e24; text-decoration: underline;}
					#news_alone article img.center{display: block; margin-left: auto; margin-right: auto;}
					#news_alone article .video{display: block; margin-left: auto; margin-right: auto;}
					#news_alone blockquote{margin: -2px 0px 0px 30px; width: 700px;}
				#tags{font-size: 12px; margin: 0 30px;}
					#tags a{color: #2991bd;}
					#tags a:hover{color: #ed1e24;}
			
			/*comment form*/
			#respond{border-top: 1px solid #333; font-size: 14px; margin-top: 15px; padding: 15px;}
				#respond .input_text{background: none; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 10px; padding: 7px; width: 300px;}
				#respond .wrong{background-color: #ffe0e0; border: 1px solid #e65555;}
				#respond_name{margin-right: 25px;}
				#respond_email{margin-right: 25px;}
				#respond_content{background: none; border: 1px solid #ccc; border-radius: 4px; height: 150px; margin: 0 10px 10px 0; padding: 7px; width: 400px;}
				#respond_content_wrong{background: none; background-color: #ffe0e0; border: 1px solid #e65555; border-radius: 4px; height: 150px; margin: 0 10px 10px 0; padding: 7px; width: 400px;}
				#captcha{width: 237px !important;}
				#respond_submit{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); border-radius: 4px; border-style: none; box-shadow: 1px 1px 1px lightGrey; color: #fff; cursor: pointer; height: 28px; line-height: 1; margin-top: 3px; text-decoration: none; width: 416px;}
				#respond_submit:hover{background-color: #3399ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#72b8ff), to(#3399ff)); background-image: -moz-linear-gradient(90deg, #3399ff, #72b8ff);}
				#form_side_image{margin: -250px 0px 150px 485px;}
				#respond_well{background-color: lightYellow; border: 1px solid #e6db55; border-radius: 4px; font-size: 12px; padding: 5px 347px;}
				#respond_error{background-color: #ffe0e0; border: 1px solid #e65555; border-radius: 4px; font-size: 12px; padding: 5px 372px;}
				#closed_comment{background-color: lightYellow; border: 1px solid #e6db55; border-radius: 4px; font-size: 12px; padding: 5px 382px;}
			
			/*comments*/
			.comments{font-size: 12px; margin: 0px 0px 10px 15px; min-height: 66px; text-decoration: none; width: 942px;}
				.comment_info{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; height: 14px; padding: 5px;}
					.comment_info a{text-decoration: underline;}
				.comment_content{margin: 5px 0 0 20px; padding: 5px; width: 905px;}
			
			/*albums*/
			#header_album{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0px 1px 8px lightGrey; font-size: 18px; height: 25px; margin: 0 -26px; padding: 3px 0 0 54px; position: relative; text-shadow: 1px 1px 0px #e2e2e2; z-index: 30;}
			#listing_albums{margin: 0 0 10px 0; min-height: 250px; width: 100%;}
				.album{display: inline-block; height: 220px; padding: 4px 4px 6px 4px; text-align: center; width: 230px;}
					.album img{max-height: 200px; max-width: 230px;}
					.album img:hover{background-image: -webkit-gradient(linear, left bottom, left top, from(#5f5f5f), to(#6a6a6a)); background-image: -moz-linear-gradient(90deg, #5f5f5f 0%, #6a6a6a 100%); border-radius: 5px;}
					.album figcaption{margin: 0;}
				#album_details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 9px 0px 0px 30px; padding: 3px 8px; width: 895px;}
					#album_details p{background: #333; padding: 0 13px;}
					#view_comments{background-color: #555; background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555)); background-image: -moz-linear-gradient(90deg, #555, #777); border-radius: 4px; margin: 0 0 0 783px; padding: 3px 9px;}
					#view_comments:hover{background-color: #3399ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#72b8ff), to(#3399ff)); background-image: -moz-linear-gradient(90deg, #3399ff, #72b8ff);}
						#view_comments a{color: #fff; text-shadow: 1px 1px 0px black;}
				#album{margin: 0 30px; min-height: 141px;}
					#album ul{margin: 30px 0 30px -40px;}
						#album ul li{display: inline-block; padding: 10px 16px;}
						#album ul li:hover{background-color: #555; background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555)); background-image: -moz-linear-gradient(90deg, #555, #777); border-radius: 4px;}
				#go_back_album{background-color: #555; background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555)); background-image: -moz-linear-gradient(90deg, #555, #777); border-radius: 4px; font-size: 13px; margin: 0 0 0 30px; padding: 3px 9px;}
				#go_back_album:hover{background-color: #3399ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#72b8ff), to(#3399ff)); background-image: -moz-linear-gradient(90deg, #3399ff, #72b8ff);}
					#go_back_album a{color: #fff; text-shadow: 1px 1px 0 black;}
			
			/*videos*/
			#header_video{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0px 1px 8px lightGrey; font-size: 18px; height: 25px; margin: 0 -26px; padding: 3px 0 0 54px; position: relative; text-shadow: 1px 1px 0px #e2e2e2; z-index: 30;}
			#videos{min-height: 200px;}
				.video{margin: 0 0 15px 0;}
					.video video{display: block; margin: 0 auto;}
					.video details{background-color: #333; border-radius: 4px; box-shadow: 1px 1px 1px lightGrey; color: #fff; font-size: 13px; margin: 9px 0px 0px 125px; padding: 3px 8px; width: 708px;}
						.video details p{background: #333; padding: 0 13px;}
			
			/*authors*/
			#header_author{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0px 1px 8px lightGrey; font-size: 18px; height: 25px; margin: 0 -26px; padding: 3px 0 0 54px; position: relative; text-shadow: 1px 1px 0px #e2e2e2; z-index: 30;}
			.author{margin: 0 10px 15px 10px;}
				.author h3{font: italic normal normal 20px/25px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; text-align: center; text-shadow: 0 1px 0 white;}
				.author_bio{font-size: 13px; height: 100px; padding: 3px; overflow: auto; text-align: justify;}
				.author_links{height: 48px;	margin: 10px auto; width: 175px;}
					.author_links a{display: block; height: 48px; margin-right: 10px; text-indent: -9999px; width: 48px;}
					.author_twitter{background: transparent url(../../../../images/twitter.png) no-repeat scroll 0px 0px;}
					.author_facebook{background: transparent url(../../../../images/facebook.png) no-repeat scroll 0px 0px; margin: -48px 0 0 58px;}
					.author_google{background: transparent url(../../../../images/google.png) no-repeat scroll 0px 0px; margin: -48px 0 0 116px;}
			
			/*contact*/
			#header_contact{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0px 1px 8px lightGrey; font-size: 18px; height: 25px; margin: 0 -26px; padding: 3px 0 0; position: relative; text-align: center; text-shadow: 1px 1px 0px #e2e2e2; z-index: 30;}
			#contact_form{margin: 0 auto 10px; min-height: 300px; width: 400px;}
				#receiver{border: 1px solid lightGrey; font-size: 12px; height: 26px; margin-bottom: 9px; width: 400px;}
				#contact_form .input{background: none; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 10px; padding: 7px; width: 385px;}
				#contact_form textarea{height: 150px;}
				#sc{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); border-radius: 4px; border-style: none; box-shadow: 1px 1px 1px lightGrey; color: #fff; cursor: pointer; height: 28px; line-height: 1; margin-top: 3px; text-decoration: none; width: 400px;}
				#sc:hover{background-color: #3399ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#72b8ff), to(#3399ff)); background-image: -moz-linear-gradient(90deg, #3399ff, #72b8ff);}
				#c_error{background-color: #ffe0e0; border: 1px solid #e65555; border-radius: 4px; font-size: 12px; padding: 5px 118px;}
				#c_well{background-color: lightYellow; border: 1px solid #e6db55; border-radius: 4px; font-size: 12px; padding: 5px 120px;}
			
			/*links*/
			#header_links{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0px 1px 8px lightGrey; font-size: 18px; height: 25px; margin: 0 -26px; padding: 3px 0 0; position: relative; text-align: center; text-shadow: 1px 1px 0px #e2e2e2; z-index: 30;}
			
			/*naviqation*/
			#prev{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); border-top-right-radius: 4px; float: left; font-size: 14px; height: 20px; margin: -28px 0px 0px -14px; padding: 7px 15px 2px 15px;}
			#prev:hover{background-color: #3399ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#72b8ff), to(#3399ff)); background-image: -moz-linear-gradient(90deg, #3399ff, #72b8ff);}
				#prev a{color: white; text-shadow: 1px 1px 0px black;}
			#next{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); border-top-left-radius: 4px; float: right; font-size: 14px; height: 20px; margin: -28px -14px 0px 0px; padding: 7px 27px 2px 26px;}
			#next:hover{background-color: #3399ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#72b8ff), to(#3399ff)); background-image: -moz-linear-gradient(90deg, #3399ff, #72b8ff);}
				#next a{color: white; text-shadow: 1px 1px 0px black;}
		
		/*error message*/
		#no_content{text-align: center;}
		.pb_img{height: 144px; padding: 0 422px;}
		
		/*404*/
		#msg404{background-color: #333; border-radius: 5px; margin: -13px -13px -32px -13px;}
			#msg404 img{padding: 25px 360px;}
			#msg404 p{color: #fff; margin: auto; padding: 0 0 12px 0; width: 153px;}
		
		/*social bar*/
		#share_bar{margin: 15px auto 10px; width: 160px;}
			#plus-1{margin: -38px 0 0 115px;}
			#share_bar a{display: block; height: 48px; margin-right: 10px; text-indent: -9999px; width: 48px;}
			#sfacebook{background: transparent url(../../../../images/facebook.png) no-repeat scroll 0px 0px;}
			#stwitter{background: transparent url(../../../../images/twitter.png) no-repeat scroll 0px 0px; margin: -48px 0 0 58px;}
	
	footer{background-color: #b6b6b6; background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b6b6b6)); background-image: -moz-linear-gradient(90deg, #b6b6b6, #d5d5d5); box-shadow: 0 0 1px lightGrey; font-size: 14px; height: auto; margin: -36px auto; min-height: 30px; padding: 15px 0px 0px 0px; position: relative; text-align: center; text-shadow: 0px -1px 1px #b8b6b6; width: 1024px; z-index: 30;}


/*General*/
#empty{min-height: 200px;}
.triangle{border-color: transparent #7d90a3 transparent transparent; border-style: solid; border-width: 12px; height: 0px; width: 0px; z-index: 50;}
	.left{margin: -12px 0px 0px -38px;}
	.right{float: right; margin: -24px -38px 0px 0px; z-index: 1; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
div{display: block;}

a{color:#000; text-decoration:none;}
	a img{border:none;}
	
ul{list-style-image:none; list-style-type:none;}